@font-face {
    font-family: 'PPTelegraf';
    src: url("./assets/fonts/PPTelegraf-UltraLight.otf");
    font-weight: 200;
  }
  @font-face {
    font-family: 'PPTelegraf';
    src: url("./assets/fonts/PPTelegraf-Regular.otf");
    font-weight: 400;
  }

  @font-face {
      font-family: "PPTelegraf";
      src: url("./assets/fonts/PPTelegraf-UltraBold.otf");
      font-weight: 600;
  }

:root {
  --bg: url(./assets/img/bg1.jpg);
  --bg-overlay: linear-gradient(180deg, rgba(14, 14, 19, 0.5) 0%, rgba(14, 14, 19, 0.5) 100%);
  --nav-bg: rgba(19, 19, 32, 0.5);
  --bg-color: rgba(0, 0, 0, 0.5);
  --text-color: #C3C3C3;
  --header-color: #D2D2D2;
  --link-color: #5769A9; 
  --cubic: cubic-bezier(.64,.51,.55,1); 
  --borders: rgba(20, 20, 36, 0.8);
}

  /* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
p,
ul[class],
ol[class],
li {
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth; 
  }


/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg-overlay), var(--bg) fixed repeat top center;
  color: var(--text-color);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

a:not([class]) {
  color: var(--link-color);
  transition: color ease .4s
}
  
a:not([class]):hover {
  color: var(--text-color)
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  object-fit: cover;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.nav {
    background: var(--nav-bg);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1220px;
    border-radius: 0 0 30px 30px;
    backdrop-filter: blur(3px);
    border: 1px solid var(--borders);
    border-top: none
}
  
.nav__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav__item {
  padding: 20px 0
}
  
  .nav__link {
    font: 400 15px PPTelegraf;
    text-transform: uppercase;
    color: var(--header-color);
    letter-spacing: .14em;
    padding: 10px 25px;
    transition: all .3s var(--cubic) 0s;
}
  
  .nav__link:hover {
    color: var(--link-color);
    background: var(--bg-color);
    border-radius: 15px
}