@font-face {
    font-family: 'PPTelegraf';
    src: url("./assets/fonts/PPTelegraf-UltraLight.otf");
    font-weight: 200;
  }
  @font-face {
    font-family: 'PPTelegraf';
    src: url("./assets/fonts/PPTelegraf-Regular.otf");
    font-weight: 400;
  }

  @font-face {
      font-family: "PPTelegraf";
      src: url("./assets/fonts/PPTelegraf-UltraBold.otf");
      font-weight: 600;
  }

:root {
  --bg: url(./assets/img/bg1.jpg);
  --bg-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  --bg-color: rgba(0, 0, 0, 0.6);
  --text-color: #C3C3C3;
  --header-color: #D2D2D2;
  --link-color: #5769A9;  
}

  /* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
p,
ul[class],
ol[class],
li {
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth; 
  }


/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg-overlay), var(--bg) fixed repeat top center;
  color: var(--text-color);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

a:not([class]) {
  color: var(--link-color);
  transition: color ease .4s
}
  
a:not([class]):hover {
  color: var(--text-color)
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  object-fit: cover;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}